body {
		font-family: "Lato", sans-serif;
		height : 100%;
		width: 100%;
}

body, html {
	margin: 0;
	height : 100%;
	width: 100%;
}

.panel-default>.panel-heading, .panel-footer {
		color: white;
		background-color: #3377FF;
		text-align: center;
		height: 10%;
}

.container {
	height: 100%;
}

#content {
	height: 90%;
}

.panel-default {
	height: 90%;
}

#camera-canvas {
	width: 60%;
	height: 100%;
	float: left;
}

#info-left {
	width: 20%;
	height: 100%;
	float: left;
	text-align: left;
}

#control-right {
	width: 20%;
	height: 100%;
	position: relative;
	float: right;
}

.panel-heading {
		padding-bottom: 2%;
		padding-top: 0.1%;
		height: 10%;
		line-height: 10%;
		text-align: center;
}

.panel-body {
		text-align: center;
		margin-top: 5%;
		height: 80%;
}

.panel-footer {
		text-align: center;
		height: 10%;
}

.namebutton {
		float: left;
		margin-right: 10px;
}

#updatebutton {
	float: right;
}

input {
		border: 0px;
		border-bottom: 1px solid #eee;
		padding-bottom: 10px;
		text-align: center;
		width: 170px;
}

label{
		display:inline-block;
		width:200px;
		margin-right:30px;
		text-align:center;
		padding-bottom: 10px;
		text-transform: capitalize;
}

h3, h4 {
		text-transform: capitalize;
		text-align: center;
}

h1 {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input  {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0  0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round  {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.content {
	height: 100%;
}

.contentDetails{
	height: 90%;
	overflow : auto;
}

#login, #logout{
	height: 20px;
	background-color: #3377FF;
	text-align: center;
	float: right;
	margin-top: 20px;
}

#loginname {
	text-align: center;
	float: right;
	margin-top: 10px;
}