<!DOCTYPE html>
<html>
    <head>
        <title>NUERA Smart Camera</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cache-control" content="must" />
	      <meta http-equiv="cache-control" content="no-cache" />
        <!-- <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" /> -->
	      <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="refresh" content="300">
        <link rel="stylesheet" href="js/lib/bootstrap.min.css">
        <link rel="stylesheet" href="js/style.css">
        <script src="js/lib/jquery-1.10.2.min.js"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <script src="js/lib/angular.min.js"></script>
        <script src="js/camera_data_service.js"></script>
        <script src="js/socket_service.js"></script>
        <script src="js/main_controller.js"></script>
        <script src="js/xml2json.js"></script>
        <style>
            
        </style>
    </head>
    <body ng-app="mainApp">
        <div class="container" ng-controller="mainController">
            <div class="panel-default">
                <div class="panel-heading">
                    <h1>NUERA</h1>
                    <span ng-hide="isLoggedIn">
                    	<button id="login" name="Login" ng-click="loginPressed()">Login</button>
                    </span>
                    <span ng-show="isLoggedIn">
                    	<button id="logout" name="Logout" ng-click="logOutPressed()">LogOut</button>
                    </span>
                </div>
                <div class="panel-body">
                	<div id="info-left">
                		<h2>Camera Details</h2>
                		<div ng-repeat="(key, value) in systemData">
                			<div ng-repeat="(key, value) in value" ng-if="key == 'custom'">
                				<div ng-repeat="(key, value) in value">
                					<div ng-repeat="(key, value) in value" ng-if="key == 'camera_info'">
                						<div ng-repeat="(key, value) in value" ng-if="key != '_status'">
															<h3>{{key}}</h3>
															<span id="info-content">
																{{value.__text}}
															</span>
														</div>
													</div>
                				</div>
                			</div>
                		</div>
                	</div>
									<canvas id="camera-canvas" width = "640px" height="480px"></canvas>
                	<div id="control-right">
                		<div id="content">
                			<select ng-model="selectedName" ng-options="info.name for info in buttonsInfo" ng-change="tabSelected()">
                			</select>
                			<div class = "contentDetails" ng-repeat="(key, value) in data">
                				<div ng-repeat="(key, value) in value" ng-if= "key == 'custom'">
                					<div ng-repeat="(key, value) in value" ng-if="key != 'info'">
<!--                						<h4>{{key}}</h4>-->
                						<div ng-repeat="(key, value) in value" ng-if="value._status !== 'disable' && key != '_status'" ng-click="accordion.current = key">
                							<h4 ng-show="accordion.current == key">{{key}} - </h4>
                							<h4 ng-hide="accordion.current == key">{{key}} + </h4>
                							<div ng-show="accordion.current == key">
																<div ng-repeat="(key, value) in value" ng-if= "value._status !== 'disable'">
																	<span ng-if="value._type === 'string' && value._text === 'ipv4'">
																			<label>{{key}}</label>
																			<span ng-if="value._status === 'enable'">
																					<input type="text" name='{{key}}' ng-model="value.__text" ng-val="value._default">
																			</span>
																			<span ng-if="value._status === 'readonly'">
																					<input type="text" name='{{key}}' ng-model="value.__text" readonly>
																			</span>
																	</span>
																	<span ng-if="value._type === 'string' && value._text !== 'ipv4'">
																			<label>{{key}}</label>
																			<span ng-if="value._status === 'enable'">
																					<input type="text" name='{{key}}' ng-model="value.__text">
																			</span>
																			<span ng-if="value._status === 'readonly'">
																					<input type="text" name='{{key}}' ng-model="value.__text" readonly>
																			</span>
																	</span>
																	<span ng-if="value._type === 'float' && value._min >= 0 && value._step >= 0">
																		<label>{{key}}</label>
																		<span ng-if="value._status === 'enable'">
																			<input type="number" name='{{key}}' step={{value._step}} min={{value._min}} max={{value._max}} string-to-number ng-model="value.__text" ng-min="value._min" ng-max="value._max" ng-step="value._step">
																		</span>
																		<span ng-if="value._status === 'readonly'">
																				<input type="number" name='{{key}}' min={{value._min}} max={{value._max}} string-to-number ng-model="value.__text" ng-min="value._min" ng-max="value._max" readonly>
																		</span>
																	</span>
																	<span ng-if="value._type === 'float' && value._min == null && value._step >= 0">
																		<label>{{key}}</label>
																		<span ng-if="value._status === 'enable'">
																			<input type="number" name='{{key}}' step={{value._step}} string-to-number ng-model="value.__text" ng-step="value._step">
																		</span>
																		<span ng-if="value._status === 'readonly'">
																				<input type="number" name='{{key}}' string-to-number ng-model="value.__text" readonly>
																		</span>
																	</span>
																	<span ng-if="value._type === 'float' && value._min >= 0 && value._step == null">
																		<label>{{key}}</label>
																		<span ng-if="value._status === 'enable'">
																			<input type="number" name='{{key}}' step="0.01" min={{value._min}} max={{value._max}} string-to-number ng-model="value.__text" ng-min="value._min" ng-max="value._max" ng-step="0.01">
																		</span>
																		<span ng-if="value._status === 'readonly'">
																				<input type="number" name='{{key}}' min={{value._min}} max={{value._max}} string-to-number ng-model="value.__text" ng-min="value._min" ng-max="value._max" readonly>
																		</span>
																	</span>
																	<span ng-if="value._type === 'float' && value._min == null && value._step == null">
																		<label>{{key}}</label>
																		<span ng-if="value._status === 'enable'">
																			<input type="number" name='{{key}}' step="0.01" string-to-number ng-model="value.__text" ng-step="0.01">
																		</span>
																		<span ng-if="value._status === 'readonly'">
																				<input type="number" name='{{key}}' string-to-number ng-model="value.__text" readonly>
																		</span>
																	</span>
																	<span ng-if="value._type === 'integer' && value._min >= 0 && value._step >= 0">
																		<label>{{key}}</label>
																		<span ng-if="value._status === 'enable'">
																			<input type="number" name='{{key}}' step={{value._step}} min={{value._min}} max={{value._max}} string-to-number ng-model="value.__text" ng-min="value._min" ng-max="value._max" ng-step="value._step">
																		</span>
																		<span ng-if="value._status === 'readonly'">
																				<input type="number" name='{{key}}' min={{value._min}} max={{value._max}} string-to-number ng-model="value.__text" ng-min="value._min" ng-max="value._max" readonly>
																		</span>
																	</span>
																	<span ng-if="value._type === 'integer' && value._min == null && value._step >= 0">
																		<label>{{key}}</label>
																		<span ng-if="value._status === 'enable'">
																			<input type="number" name='{{key}}' step={{value._step}} string-to-number ng-model="value.__text" ng-step="value._step">
																		</span>
																		<span ng-if="value._status === 'readonly'">
																				<input type="number" name='{{key}}' string-to-number ng-model="value.__text" readonly>
																		</span>
																	</span>
																	<span ng-if="value._type === 'integer' && value._min >= 0 && value._step == null">
																		<label>{{key}}</label>
																		<span ng-if="value._status === 'enable'">
																			<input type="number" name='{{key}}' step="1" min={{value._min}} max={{value._max}} string-to-number ng-model="value.__text" ng-min="value._min" ng-max="value._max" ng-step="1">
																		</span>
																		<span ng-if="value._status === 'readonly'">
																				<input type="number" name='{{key}}' min={{value._min}} max={{value._max}} string-to-number ng-model="value.__text" ng-min="value._min" ng-max="value._max" readonly>
																		</span>
																	</span>
																	<span ng-if="value._type === 'integer' && value._min == null && value._step == null">
																		<label>{{key}}</label>
																		<span ng-if="value._status === 'enable'">
																			<input type="number" name='{{key}}' step="1" string-to-number ng-model="value.__text" ng-step="1">
																		</span>
																		<span ng-if="value._status === 'readonly'">
																				<input type="number" name='{{key}}' string-to-number ng-model="value.__text" readonly>
																		</span>
																	</span>
																	<span ng-if="value._type === 'boolean'">
																		<label>{{key}}</label>
																		<span ng-if="value._status === 'enable'">
																			<label class="switch">
																				<input type="checkbox">
																				<div class="slider  round"></div>
																			</label>
																		</span>
																		<span ng-if="value._status === 'readonly'">
																				<label class="switch">
																				<input type="checkbox" readonly>
																				<div class="slider  round"></div>
																			</label>
																		</span>
																	</span>
																	<span ng-if="value._type === 'enum' && value._options === '3'">
																		<label>{{key}}</label>
																		<span ng-if="value._status === 'enable'">
																			<select name="{{key}}" ng-model="value._optionValue">
																				<option value="{{value._option1}}">{{value._option1}}</option>
																				<option value="{{value._option2}}">{{value._option2}}</option>
																				<option value="{{value._option3}}">{{value._option3}}</option>
																			</select>
																		</span>
																	</span>
																	<span ng-if="value._type === 'enum' && value._options === '2'">
																		<label>{{key}}</label>
																		<span ng-if="value._status === 'enable'">
																			<select name="{{key}}" ng-model="value._optionValue">
																				<option value="{{value._option1}}">{{value._option1}}</option>
																				<option value="{{value._option2}}">{{value._option2}}</option>
																			</select>
																		</span>
																	</span>
																	<span ng-if="value._type === 'button'">
																		<label>{{key}}</label>
																		<span ng-if="value._status === 'enable'">
																			<button name="{{key}}" ng-click="buttonPressed(value._id)">
																				{{value.__text}}
																			</button>
																		</span>
																	</span>
															</div>
               							</div>
                					</div>
                				</div>
											</div>
										</div>
                	</div>
                </div>
							</div>
							<modal visible="showModal">
								<div class="container">
									<label><b>Username</b></label>
									<input type="text" placeholder="Enter Username" name="uname" ng-model="user.name" required>
									<br>
									<label><b>Password</b></label>
									<input type="password" placeholder="Enter Password" name="psw" ng-model="user.password" required>
									<br>
									<button type="submit" ng-click="validateLogin()" style="margin-left:300px;">Login</button>
								</div>
							</modal>
              <div class="panel-footer">©Soliton Technologies</div>
            </div>
        	</div>
				</body>
</html>