<!DOCTYPE html>
<html>
    <head>
        <title>NUERA Smart Camera</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cache-control" content="must" />
	      <meta http-equiv="cache-control" content="no-cache" />
        <!-- <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" /> -->
	      <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="refresh" content="300">
        <link rel="stylesheet" href="js/lib/bootstrap.min.css">
        <script src="js/lib/jquery-1.10.2.min.js"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <script src="js/lib/angular.min.js"></script>
        <script src="/js/camera_data_service.js"></script>
        <script src="/js/socket_service.js"></script>
        <script src="/js/main_controller.js"></script>
        <script src="/js/xml2json.js"></script>
        <style>
            body {
                font-family: "Lato", sans-serif;
            }
            div.container {
                width: 100%;
            }
            .panel-default>.panel-heading, .panel-footer {
                color: white;
                background-color: #3377FF;
                text-align: center;
            }

            .panel-heading {
                padding-bottom: 2%;
                padding-top: 0.1%;
                height: 10%;
                line-height: 10%;
                text-align: center;
            }

            .panel-body {
                text-align: center;
                margin-top: 5%;
            }
            .panel-footer {
                text-align: center;
                height: 10%;
            }
            .config{
                color: black;
            }
            .imageConfig {
                text-align: right;
            }
            .namebutton {
                float: left;
                margin-right: 10px;
            }
            #updatebutton {
              float: right;
            }
            .tab-content {
                text-align: left;
                margin-top: 5%;
                height: 500px;
                overflow-y: scroll;
            }
            input {
                border: 0px;
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
                text-align: center;
                width: 170px;
            }
            label{
                display:inline-block;
                width:200px;
                margin-right:30px;
                text-align:right;
                padding-bottom: 10px;
                text-transform: capitalize;
            }
            li, h4 {
                text-transform: capitalize;
            }
            h1 {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
            }
            .nav {
              margin-top: 40px;
            }
        </style>
    </head>
    <body ng-app="mainApp">
        <div class="container" ng-controller="mainController">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>NUERA</h1>
                        <div class="imageConfig">
                            <img src="/js/setting1.png" alt="Settings Icon" ng-click = "open()"/>
                        </div>
                </div>
                <div class="panel-body" ng-show = showModal>
                    <div id="content">
                        <button ng-repeat="info in buttonsInfo" class="namebutton" type="button" ng-click="openFile(info.file)">{{info.name}}</button>
                        &nbsp;&nbsp;&nbsp;
                        <form id="updatebutton">
                          <!-- <button type="button" onClick="history.go(0)">REFRESH</button> -->
                          <button type="button" ng-click="update()">UPDATE</button>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                        </form>
                        <div ng-repeat="(key, value) in data">
                            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" ng-repeat="(key, value) in value" ng-if= "key == 'custom'">
                                <li ng-class='{active:$first}' ng-repeat="(key, value) in value"><a href="#{{key}}" data-toggle="tab" ng-if= "value._status !== 'disable'">{{key}}</a></li>
                            </ul>
                        </div>
                        <div ng-repeat="(key, value) in data">
                            <div id="my-tab-content" class="tab-content" ng-repeat="(key, value) in value" ng-if= "key == 'custom'">
                                <div class="tab-pane" ng-repeat="(key, value) in value" ng-class='{active:$first}' id="{{key}}">
                                    <div ng-repeat="(key, value) in value" ng-if= "value._status !== 'disable' && key !== '_status'">
                                       <h4>{{key}}</h4>
                                        <div ng-repeat="(key, value) in value" ng-if= "value._status !== 'disable'">
                                          <span ng-if="value._type === 'string' && value._text === 'ipv4'">
                                              <label>{{key}} :</label>&nbsp;&nbsp;
                                              <span ng-if="value._status === 'enable'">
                                                  <input type="text" name='{{key}}' ng-model="value.__text" ng-val="value._default">
                                              </span>
                                              <span ng-if="value._status === 'readonly'">
                                                  <input type="text" name='{{key}}' ng-model="value.__text" readonly>
                                              </span>
                                          </span>
                                            <span ng-if="value._type === 'string' && value._text !== 'ipv4'">
                                                <label>{{key}} :</label>&nbsp;&nbsp;
                                                <span ng-if="value._status === 'enable'">
                                                    <input type="text" name='{{key}}' ng-model="value.__text">
                                                </span>
                                                <span ng-if="value._status === 'readonly'">
                                                    <input type="text" name='{{key}}' ng-model="value.__text" readonly>
                                                </span>
                                            </span>
                                            <span ng-if="value._type === 'number' && value._min >= 0">
                                                <label>{{key}} :</label>&nbsp;&nbsp;
                                                <span ng-if="value._status === 'enable'">
                                                    <input type="number" name='{{key}}' min={{value._min}} max={{value._max}} string-to-number ng-model="value.__text" ng-min="value._min" ng-max="value._max">
                                                </span>
                                                <span ng-if="value._status === 'readonly'">
                                                    <input type="number" name='{{key}}' min={{value._min}} max={{value._max}} string-to-number ng-model="value.__text" ng-min="value._min" ng-max="value._max" readonly>
                                                </span>
                                            </span>
                                            <span ng-if="value._type === 'number' && value._min == null">
                                                <label>{{key}} :</label>&nbsp;&nbsp;
                                                <span ng-if="value._status === 'enable'">
                                                    <input type="number" name='{{key}}' string-to-number ng-model="value.__text">
                                                </span>
                                                <span ng-if="value._status === 'readonly'">
                                                    <input type="number" name='{{key}}' string-to-number ng-model="value.__text" readonly>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" ng-hide = showModal>
                    <canvas id="camera-canvas" width = "640px" height="480px"></canvas>
                </div>
                <div class="panel-footer">©Soliton Technologies</div>
            </div>
        </div>
    </body>
</html>
